@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat ;
}
body{
    background-image: url("./bg.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 8rem ;
    max-width: 35%;
    align-items: center;
    text-align: center;

}
.container h1{
color : #fff;
font-size: 3.4rem;
}
.workingSpace{
    background-color: #fff;
}
